# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual env
.venv/

# Environment variables
.env

# Data (large / local)
data/
data_backup*/

# Logs / outputs
runs/
results/
Legacy/exported/
Legacy/logs/
Legacy/model_checkpoints/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/